<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>User Add Contact</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">

							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="post"
								th:action="@{/user/process-contact}" class="mt-2">
								<div class="input-group mb-3">
									<div class="input-group mt-3">
										<span class="input-group-text"><i class="fa fa-plus"></i></span>
										<input type="text" id="name" name="name"
											placeholder="Enter Name Here" class="form-control"
											required="required" />
									</div>
								</div>
								<div class="input-group mt-3">
									<span class="input-group-text"><i class="fa fa-user-alt"></i></span>
									<input type="text" id="secondName" name="secondName"
										placeholder="Enter Nick Name Here" class="form-control"
										required="required" />
								</div>
								<div class="input-group mt-3">
									<span class="input-group-text"><i class="fa fa-phone"></i></span>
									<input type="tel" id="phone" name="phone" minlength="10"
										placeholder="Enter Phone Number Here" class="form-control"
										required="required" />
								</div>
								<div class="input-group mt-3">
									<span class="input-group-text">@</span> <input type="email"
										id="email" name="email" placeholder="Enter Email Here"
										class="form-control" required="required" />
								</div>
								<div class="input-group mt-3">
									<span class="input-group-text"><i
										class="fa fa-briefcase"></i></span> <input type="text" id="work"
										name="work" placeholder="Enter work Here" class="form-control"
										required="required" />
								</div>
								<div class="input-group mt-3">
									<span class="input-group"></span>
									<textarea id="textarea" name="description" rows="18"
										placeholder="Enter contact description" class="form-control"
										></textarea>
								</div>
								<div class="custom-file mt-3">
									<input type="file" name="profileImage" required="required">
								</div>
								<div class="container mt-3 text-center">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
		<script type="text/javascript">
			tinymce.init({
				selector : '#textarea'
			});
			$(document).ready(()=>{
				
				$(".item").removeClass("active");
				$("#add-link").addClass("active");
			})		
		</script>
	</section>
</body>
</html>