<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section>
		<div class="wrapper" style="min-height: 411px;">
			<div class="logo">
				<img th:src="@{/img/user.png}" alt="">
			</div>
			<!-- 	<div th:if="${session.message}" class="container">
				<div class="alert alert-danger my-2 text-center" role="alert">
					<span th:text="${session.message}"></span>
				</div>
			</div> -->
			<h3>Enter New Password</h3>

			<form class="p-3 mt-4" th:action="@{/change-password}" method="post">

				<div class="form-field d-flex align-items-center" style="width:17rem">
					<input type="password" required="required" name="newPassword"
						placeholder="Enter New Password here.. ">
				</div>
				<div class="form-field d-flex align-items-center" style="width:17rem">
					<input type="password" required="required" name="confirmPassword" 
						placeholder="Enter Confirm here.. ">
				</div>
				<button class="btn mt-4">Change Password</button>
			</form>

		</div>
	</section>
</body>
</html>